html, body { overflow: hidden; width: 100%; height: 100%; margin: 0px; padding: 0px; }

body {
    background: #EEE;
    color: #ffd9a8;
    display: block !important;
}

body, input {
    font: 16px Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
}

h1 {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    border: 6px solid rgba(0, 0, 0, 0.3);
    background
}

.menu {
    position: relative;
    padding: 20px;
    text-align: center;
    display: none;
}

.dialog {
    position: absolute;
    padding: 20px;
    text-align: center;
    width: 600px;
    display: none;
    border: 2px solid #888;
    
    background: rgba(0, 0, 0, 0.8);
    margin: 0px auto;
    width: 600px;
    padding-top: 10px;
    border-radius: 20px;
}

.dialogClose {
    position: absolute;
    top: -0.9em;
    left: -0.9em;
    text-align: center;
    width: 1.8em;
    height: 1.8em;
    font-weight: bold;
    color: #FFF;
    background: #000;
    border-radius: 0.9em;
    border: 2px solid #888;
    cursor: pointer;
}

.dialogClose:hover {
    background: #333;
}

button {
    position: relative;
    top: 0px;
    width: 250px;
    height: 53px;
    background: #88A;
    border: 2px solid #668;
    border-radius: 12px;
    cursor: pointer;
    color: #ffd9a8;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

button::-moz-focus-inner { border: 0; }

button:hover { background-color: #AAC; }

button:active { background-color: #336; }


#mainmenu {
    padding-top: 380px;
    padding-left: 100px;
}

#btnLogout { position: absolute; top: 25px; left: 10px; }
#btnLogin { position: absolute; top: 25px; right: 10px; }
#lobby {
    width: 900px;
    margin: 0px auto;
    padding: 100px 100px;
}

#presence {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100%;
    text-align: left;
    padding: 10px;
    border-left: 6px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.3);
}

#chat {
    position: relative;
    width: 700px;
    height: 400px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 6px solid rgba(0, 0, 0, 0.3);
    text-align: left;
    font-size: 13px;
}

#chat #history {
    width: 100%;
    height: 338px;
    padding: 10px 20px;
    overflow: auto;
}

#chat #historyWrapper {
    position: relative;
    margin-right: 200px;
    height: 100%;
}

#chat #sendChat {
    border-top: 6px solid rgba(0, 0, 0, 0.3);
    height: 26px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#chat div {
    margin: 0px 0px 6px;
    word-wrap: break-word;
}

#chat .msg_system {
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

#chat .msg_date {
    text-align: center;
    font-size: 11px;
    color: #888;
}

#chat .msg_user {
    color: #AAF;
}

#chat .msg_date {
    font-size: 11px;
    margin-right: 5px;
}


#textSendMessage {
    width: 377px;
    height: 26px;
    border: none;
    background: transparent;
    color: #FFF;
    outline: none;
    padding-left: 10px;
    background: rgba(0, 0, 255, 0.1);
}

#btnSendMessage {
    background: rgba(0, 0, 0, 0.2);
    height: 26px;
    width: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#btnSendMessage:hover {
    background: rgba(0, 0, 0, 0.5);
}

#btnSeek {
    margin: 50px 0px 0px 0px;
    
}

.textDefaultValue { color: #888 !important; }

#login {
}

#login .label {
    width: 200px;
    text-align: right;
    display: inline-block;
    padding-right: 10px;
}

.form_row {
    padding: 0px 0px 10px 0px;
    width: 600px;
    margin: 0px auto;
    text-align: left;
}

.form_row input {
    background: rgba(255, 255, 255, 0.5);
    border: 4px solid #CCC;
    border-radius: 7px;
    margin-left: 2px;
    width: 234px;
    outline: none;
    padding: 3px;
}

.form_row input:focus {
    border-color: #FFF;
    background: rgba(255, 255, 255, 0.3);
}

