body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.sidebar-nav h2 {
  font-size: 1.2em;
  font-weight: 200;
  color: #999;
  margin: 0;
}

.navbar-fixed-top .nav li a {
  font-size: 0.9em;
  font-weight: 400;
  padding-right: 10px;
  padding-left: 10px;
}

.logo {
  font-family: 'Puritan', 'Gill Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: -1px;
}

footer {
  margin: 0 auto;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 2px;
  color: #AAA;
}

.navbar-search .search-query {
  width: 120px;
}

#toc-well {
  max-height: 640px;
  overflow-y: scroll;
  position: fixed;
}

/*should inherit from bootstrap 'nav nav-list'*/
#toc ul {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  list-style-type: none;
}

#toc > ul {
  margin-left: 0;
  margin-right: 0;
}

#toc ul li {
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #08C;
}

#toc ul li a {
  margin-left: -15px;
  margin-right: -15px;
  padding: 3px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#toc ul li > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
  text-decoration: none;
}

.toc-section-header {
  color: #999;
  font-weight: bold;
}

/*docco reset for code*/
td.code pre, th.code pre{
  background-color: transparent;
  border-style: none;
}

/*links in docco*/
td.docs p a {
  color: #08c;
}

#main h1 a, #main h2, #main h3 {
  font-weight: 200;
}

#main h3 a {
  font-weight: 500;
}

#main h2 a {
  color: #d14;
}

.hero-unit {
  padding: 40px;
  margin-bottom: 15px;
}

/* adjust navbar spacing to avoid double-line */
@media (max-width: 1040px) {
  .navbar-fixed-top .nav li a {
    padding-right: 5px;
    padding-left: 5px;
  }
}

/* medium */
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
  
  .navbar-fixed-top .nav li a {
    font-size: 0.9em;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px; 
  }
  
  #toc-well {
    max-height: none;
    overflow-y: visible;
    position: static;
  }
}
