/* begin css reset *
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
**/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*
ol, ul {
	list-style: none;
}
*/
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* end css reset */

html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.2em;
	background-color: '#000000';
}

i, em {
	font-style: italic;
}

code {
	font-family: 'Inconsolata', monospace;
}

h1, h2 {
	line-height: 2em;
}

a {
	color: #000;
}

p {
	font-size: 1em;
}

nav#sidebar {
  float: left;
	width: 200px;
	padding: 10px 15px 10px;
	background-color: #58a;
	
	color: white;
	border-radius: 5px;
}

nav#TOC {
	font-size: 0.8em;
	line-height: 1.6em;
}

#main {
	float: left;
	padding: 5px 15px;
}

/* when generating the toc, disable the header linkbacks.
 */
#main h1 a, #main h2 a, #main h3 a {
		pointer-events: none;
		cursor: default;
		text-decoration: none;
}

/*
footer {
  margin: 0 auto;
}
*/
