body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.logo {
  font-family: 'Puritan', 'Gill Sans', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: -1px;
}

footer {
  margin: 0 auto;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 2px;
  color: #AAA;
}

/*should inherit from bootstrap 'nav nav-list'*/
#TOC ul {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  list-style-type: none;
}

#TOC > ul {
  margin-left: 0;
  margin-right: 0;
}

#TOC ul li {
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #08C;
}

#TOC ul li a {
  margin-left: -15px;
  margin-right: -15px;
  padding: 3px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#TOC ul li > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
  text-decoration: none;
}

/*docco reset for code*/
td.code, th.code {
	background-color: transparent;
	border-style: none;
}
