header, footer, aside, nav, article {
  display: block;
}

body {
  margin: 0 auto;
  width: 940px;
	font-family: 'Open Sans', serif;
  background: #f0f0f0;
}

body a {
	color: #00f;
}

#main {
	float: right;
	width: 700px;
}

nav {
  float: left;
  width: 240px;
	padding: 0 0 0 0px;
}

nav ul {
	
}

nav li {
	list-style-type: none;
}

footer {
	clear: both;
}
