<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>$if(title-prefix)$$title-prefix$ - $endif$$if(pagetitle)$$pagetitle$$endif$</title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		$if(quotes)$
		<style type="text/css">
			q { quotes: "“" "”" "‘" "’"; }
		</style>
		$endif$

		<link rel="stylesheet" href="../templates/style.css">
		<link rel="stylesheet" href="../templates/prettify.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">

		$for(header-includes)$
		$header-includes$
		$endfor$
	</head>

  <body>
		$for(include-before)$
		$include-before$
		$endfor$

		<header>
			$if(title)$
			<h1 class="title">$title$</h1>
			$endif$
		</header>

		m4_include(sidebar_nav)m4_dnl

		<div id="main">
		$body$
		$for(include-after)$
		$include-after$
		$endfor$
		</div>

		<aside id="quicknav">
			<h1>QuickNav</h1>
			<ul></ul>
		</aside>
		
		<footer>
			&copy; Game Closure
		</footer>

		<script src="../templates/prettify.js"></script>
		<script>
			window.onload = function () {
				var tags = document.getElementsByTagName('pre');
				for (var i = 0; i < tags.length; ++i) {
					tags[i].setAttribute('class', 'prettyprint');
				}
				prettyPrint();

				//create category menu
				var quicknav = document.querySelectorAll('#quicknav ul')[0],
						nav_elements = document.querySelectorAll('#main h1, #main h2, #main h3');

				Array.prototype.slice.call(nav_elements).forEach(function (h) {

					var li = document.createElement('li'),
							a = document.createElement('a');

					a.innerText = h.innerText;
					a.setAttribute('href', '#' + h.getAttribute('id'));
					a.setAttribute('indent', h.tagName);
					
					li.appendChild(a);
					quicknav.appendChild(li)
				});
			};
		</script>
  </body>
</html>
