/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* end reset */

/* width: 940 => 160 | 620 | 160 */

body {
  margin: 0 auto;
  width: 940px;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.2em;
	background-color: #eee;
	//background-color: #D2E7E5;
}

b, strong, h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

i, em {
	font-style: italic;
}

h1, h2 {
	line-height: 2em;
}

code {
	font-family: 'Inconsolata', monospace;
}

a {
	color: #000;
}

nav {
  float: left;
  width: 140px;
	margin-right: 10px;
	padding: 0 10px 10px 10px;
	background-color: #63668B;
}

nav a {
	color: #D2E7E5;
}

nav ul {
	margin-top: 10px;
}

nav ul ul {
	margin: 0;
}

/* nav sections: api, tutorials */
nav h1 {
	display: inline;
	//padding: 2px 6px;
	color: #fff;
	//background-color: #7AA7D6;
}

/* second level indentation */
nav ul li ul li {
	padding-left: 10px;
}

/* total width: 160px */
#quicknav {
	float: right;
	width: 140px;
	margin: 0 0 0 10px;
	padding: 5px;
	font-size: 0.9em;
	background-color: #6A4162;
	//background-color: #E65540;
	
	//position: fixed;
}

#quicknav a {
	text-decoration: none;
	//color: #D2E7E5;
	color: #FBFCD0;
}

#quicknav a:hover {
	text-decoration: underline;
}

#quicknav h1 {
	font-weight: 600;
	color: #fff;
}

#quicknav li [indent='H1'] {
	font-weight: 600;
}

#quicknav li [indent='H3'] {
	padding-left: 0.8em;
}

#quicknav li [indent='H4'] {
	padding-left: 1.5em;
}

footer {
	clear: both;
}

#main {
	float: left;
	width: 610px;
}

/* class name */
#main h1 {
	font-size: 1.5em;
}

/* methods, properties */
#main h2 {
	margin: 20px 0;
	padding-left: 10px;
	color: #000;
	//background-color: #bbb;
	background-color: #aaaaff;
}

/* method grouping */
#main h3 {
	font-style: italic;
	text-align: right;
	color: #63668B;
	border-bottom: 1px solid #aaa;
}

/* inheritence list */
#main ol {
	list-style-type: decimal;
	padding-left: 30px;
}

#main ol li {
	padding: 4px 0;
}

/* sections */
#main ul {
	padding: 10px 0 10px 0;
}

/* properties */
#main li {
	padding: 10px 0;
}

/* method parameters */
#main ul ul li {
	padding: 2px 20px;
}
